@{
    ViewData["Title"] = "РПБД Лаб 3 'Маркетплейс'";
}

<div class="text-center">
    <h1>Добро пожаловать!</h1>
    <h2>Тема: "Маркетплейс"</h2>
    <p align="center">Выше вы можете ознакомиться со всеми таблицами БД</p>
    <br>
    <p>Работу выполнил: Студент МОиАИС 3 курса, группы 21-2, <span> <b>Неткачев Павел Иванович</b></span></p>
</div>