@model RPBDlab3_Netkachev_Ustinov.Models.PickupPoints

@{
    ViewData["Title"] = "Добавление ПВЗ";
}

<h1 class="text-center">Добавить</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="PickupPointAddress" class="control-label"></label>
                <input asp-for="PickupPointAddress" class="form-control" />
                <span asp-validation-for="PickupPointAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-primary btn-lg">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}